html, body {
    margin: 0px;
    padding: 0px;
}

* {
    box-sizing: border-box;
    outline: none;
}

#container {
    display: flex;
    flex-direction: column;
    background-color: red;
}

#menu-bar {
    display: flex;
    flex-direction: row;
    height: 20px;
}

#menu-bar>div {
    margin: 2px 5px 0px 5px;
    font-size: 14px;
    cursor: pointer;
}

#menu-content-container {
    display: flex;
    flex-direction: row;
    height: 60px;
}

#menu-bar>div:hover, #menu-bar>div.selected {
    border-top: 1px solid black;
}

.menu-container {
    display: flex;
    flex-direction: row;
}

.menu-group {
    display: flex;
    flex-direction: column;
    border-right: 0.5px solid lightgrey;
    padding: 5px;
    border-radius: 2px;
}

.menu-row {
    display: flex;
    flex-direction: row;
    margin: 2px;
}

.menu-row>* {
    margin: 0px 5px;
    cursor: pointer;
    border: 0.5px solid lightgrey;
    border-radius: 2px;
    height: 21px;
}

.menu-row>input {
    width: 25px;
}

.menu-row>input:hover {
    transform: scale(1.2);
}

#bold.selected, #italic.selected, #underline.selected, #allignment-menu-container input.selected {
    background-color: teal;
    color: white;
}

#font-family {
    width: 95px;
    font-size: 11px;
}

#font-size {
    width: 60px;
    font-size: 11px;
}

#formula-bar {
    display: flex;
    flex-direction: row;
    height: 20px;
}

#formula-bar>#cellFormula {
    flex: 4%;
}

#formula-bar>#seperator {
    flex: 1%;
    text-align: center;
}

#formula-bar>#txtFormula {
    flex: 96%;
}

#content-container {
    position: relative;
    height: calc(100vh - 120px);
    overflow: auto;
}

#tl-cell {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 25px;
    width: 25px;
    background-color: lightgray;
    z-index: 3;
}

#first-row {
    position: absolute;
    left: 25px;
    height: 25px;
    text-align: center;
    display: flex;
    flex-direction: row;
    border: 0.5px solid lightgray;
    z-index: 1;
}

#first-col {
    position: absolute;
    top: 25px;
    width: 25px;
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    z-index: 2;
}

#grid {
    position: absolute;
    top: 25px;
    left: 25px;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.cell {
    width: 70px;
    border: 0.5px solid lightgray;
    cursor: cell;
    box-sizing: border-box;
    line-height: 25px;
    font-size: 16px;
}

.cell.selected {
    border: 1px solid teal;
}

#first-col .cell {
    width: 25px;
    font-size: 14px;
    border: 0.5px solid white;
}

#first-row .cell {
    height: 25px;
    font-size: 14px;
    border: 0.5px solid white;
    text-align: center;
    background-color: lightgray;
}

#sheets-bar {
    display: flex;
    flex-direction: row;
    height: 20px;
}

#sheets-bar>div {
    padding: 5px;
    font-size: 12px;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
}

#sheets-bar>div:hover {
    cursor: pointer;
    font-weight: bold;
    border-bottom: 1px solid white;
}